.preview__item {
    list-style: none;
    display: flex;
    align-items: center;
}

.pc-view {
    display:none;
    
}
.preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 29fr 20fr 29fr);
    margin-top: 40px;
}

.picture1 {
    background: url(http://127.0.0.1:8887/img/shoes.jpg) 100% no-repeat;
    background-size: cover;
    min-height: 290px;
}

.picture2 {
    background: url(http://127.0.0.1:8887/img/dress.jpg) 100% no-repeat;
    background-size: cover;
    min-height: 290px;
}

.picture3 {
    background: url(http://127.0.0.1:8887/img/blazer2.jpg) 100% no-repeat;
    background-size: cover;
    min-height: 290px;
}

.picture4 {
    background: url(http://127.0.0.1:8887/img/blazer.jpeg) 100% no-repeat;
    background-size: cover;
    min-height: 290px;
}

.picture5 {
    background: url(http://127.0.0.1:8887/img/jeans.jpg) 100% no-repeat;
    background-size: cover;
    min-height: 290px;
    grid-row: 2/4;
    grid-column: 4/5;
    display:none;
}


.picture0 {
    background: url(http://127.0.0.1:8887/img/grey.jpg) 100% no-repeat;
    background-size: cover;
    min-height: 290px;
    grid-row: 1/3;
    display:none;
}



.information {
    min-height: 200px;
    background-color: #606060;

}
.preview__link {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

@media (min-width:720px) {
    .preview {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width:1120px) {
    .preview {
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .picture5 {
        display: block;
    }

    .picture0 {
        display: block;
    }

    .pc-view {
        display:block;
    }
}