header {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: space-between;
}

.header-logo {
  background-color: black;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  line-height: 60px;
}

.name {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Lato';
  color: #fff;
  
}

.basket {
  font-size: 25px;
  line-height: 60px;

}
.menu-button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: #8c8c8c;
  font-size: 25px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}